﻿@{
    Layout = "~/Views/Shared/_LayoutjqGrid.cshtml";
    ViewBag.Title = "Bank";
    var CompanyId = ViewBag.CompanyId;
}

@*<link href="~/Content/customStyle.css" rel="stylesheet" />*@
<script>
    var userCompanyId = parseInt(@CompanyId);
</script>
<script src="~/Areas/Accounts/Scripts/Bank/create_bank.js"></script>
<link href="~/Content/customassets/css/Cart.css" rel="stylesheet" />

<style>
    .form-control {
        width: 100% !important;
    }

    .btnLarge {
        width: 140px !important;
    }

    .input-group-addon {
        padding: 0 5px;
    }

    .rm {
        background-color: #F8F8F8;
        border-radius: 0px 0px 0px 0px !important;
    }
</style>

<section class="rm">
    <div class="panel-body">
        <div class="container-fluid">
            <div class="row">

                <!---vvvvvvv----Body Main Starts here---vvvvvv----->

                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-12">

                            @*<section class="panel bodycontent">*@
                                <div id="BankDiv">

                                    
                                        @if (CompanyId == null)
                                        {
                                            <div class="form-group row row_design">
                                                <label class="control-label col-sm-2 col-sm-offset-1" for="Name">Company</label>
                                                <div class="col-sm-3">
                                                    <select data-bind="options: CompanyList, value: CompanyProfileId, optionsValue:'Id', optionsText: 'Name', optionsCaption: 'Choose one...', valueUpdate: 'keyup'" class="form-control"></select>
                                                </div>
                                            </div>
                                        }
                                        <div class="form-group row row_design">
                                            <label class="control-label col-sm-2 col-sm-offset-1" for="Name">Name</label>
                                            <div class="col-sm-3" data-bind="validationElement: Name">
                                                <input type="text" data-bind="value:Name, valueUpdate: 'keyup'" class="form-control" placeholder="Name" required />
                                            </div>

                                            <label class="control-label col-sm-2" for="BranchName">Branch Name</label>
                                            <div class="col-sm-3" data-bind="validationElement: BranchName">
                                                <input type="text" data-bind="value:BranchName, valueUpdate: 'keyup'" class="form-control" placeholder="BranchName" required />
                                            </div>
                                        </div>

                                        <div class="form-group row row_design">
                                            <label class="control-label col-sm-2 col-sm-offset-1" for="Address">Address</label>
                                            <div class="col-sm-3" data-bind="validationElement: Address">
                                                <input type="text" data-bind="value:Address" class="form-control" />
                                                @*<textarea class="form-control" data-bind="value:Address"></textarea>*@
                                            </div>
                                            <label class="control-label col-sm-2" for="Designation">Fax</label>
                                            <div class="col-sm-3" data-bind="validationElement: Fax">
                                                <input type="text" data-bind="value:Fax, valueUpdate: 'keyup'" class="form-control" placeholder="Fax" />
                                            </div>
                                        </div>


                                        <div class="form-group row row_design">

                                            <label class="control-label col-sm-2 col-sm-offset-1" for="PhoneNo">Phone No</label>
                                            <div class="col-sm-3" data-bind="validationElement: Phone">
                                                <input type="text" data-bind="value:Phone, valueUpdate: 'keyup'" class="form-control" placeholder="Phone No." required />
                                            </div>
                                            <label class="control-label col-sm-2" for="Email">Email</label>
                                            <div class="col-sm-3" data-bind="validationElement: Email">
                                                <input type="email" data-bind="value:Email, valueUpdate: 'keyup'" class="form-control" placeholder="Email" />
                                            </div>
                                        </div>

                                        <div class="form-group row row_design">

                                            <label class="control-label col-sm-2 col-sm-offset-1" for="AccountNo">Account #</label>
                                            <div class="col-sm-3" data-bind="validationElement: AccountNo">
                                                <input type="text" data-bind="value:AccountNo, valueUpdate: 'keyup'" class="form-control" placeholder="Account No." required />
                                            </div>
                                            <label class="control-label col-sm-2" for="">Account Type</label>
                                            <div class="col-sm-3" data-bind="validationElement: AccountType">
                                                @*<input type="email" data-bind="value:AccountType, valueUpdate: 'keyup'" class="form-control" placeholder="Account Type" />*@
                                                @*<select data-bind=" options AccountTypes, value AccountType, optionsCaption:'Choose One..', optionsValue:'Id', optionsText 'Name' " class=" form-control"></select>*@
                                                <select data-bind="options: AccountTypes, value: AccountType, optionsValue:'Id', optionsText: 'Name', optionsCaption: 'Choose one...',valueUpdate: 'keyup'" class="form-control"></select>
                                            </div>
                                        </div>

                                        <div class="form-group row row_design">
                                            <label class="control-label col-sm-2 col-sm-offset-1" for="Signatories">Signatories</label>
                                            <div class="col-sm-3" data-bind="validationElement: Signatories">
                                                <input type="text" data-bind="value:Signatories, valueUpdate: 'keyup'" class="form-control" placeholder="Signatories" required />
                                            </div>
                                        </div>

                                        <div class="form-group row row_design">
                                            <div class="col-sm-offset-10 col-sm-2">
                                                @*<button type="submit" class="btn btn-success" data-toggle="modal" data-target="#myModal">Submit</button>*@
                                                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">Save</button>
                                            </div>

                                            <div id="myModal" class="modal fade" role="dialog">
                                                <div class="modal-dialog modal-sm">
                                                    <!-- Modal content-->
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                            <h4 class="modal-title">Confirmation</h4>
                                                        </div>
                                                        <div class="modal-body" align="center">
                                                            <p>Do you want to add this item?</p>
                                                            <button data-bind="click: saveBank" class="btn btn-success" data-dismiss="modal">Yes</button>
                                                            <button type="button" class="btn btn-success" data-dismiss="modal">No</button>
                                                        </div>
                                                        <div class="modal-footer">
                                                            @*<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>*@
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    
                                    <br />
                                    


                                        <div class="form-group table-responsive">

                                            <div class="PrintReport" align="right">

                                                <table class="table table-striped table-bordered">
                                                    <thead class="headcolor">
                                                        <tr class="thead ">
                                                            <th> Name </th>
                                                            <th> BranchName </th>
                                                            <th> Email </th>
                                                            <th> Phone </th>
                                                            <th> Fax </th>
                                                            <th> Action </th>
                                                        </tr>
                                                    </thead>

                                                    <tbody data-bind="foreach:Banks">
                                                        <tr>
                                                            <td class="center" data-bind="text: Name"></td>
                                                            <td class="center" data-bind="text: BranchName"></td>
                                                            <td class="center" data-bind="text: Email "></td>
                                                            <td class="center" data-bind="text: Phone"></td>
                                                            <td class="center" data-bind="text: Fax"></td>
                                                            <td class="center"><a data-bind="click:$parent.editBank">Edit</a></td>
                                                        </tr>
                                                    </tbody>
                                                </table>

                                            </div>
                                        </div>
                                    
                                </div>


                            @*</section>*@
                            <!---^^^^^^^----Body Main Ends here----^^^^^^^---->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




