﻿
@{
    ViewBag.Title = "Trinee Entry";
    Layout = "~/Views/Shared/_LayoutjqGrid.cshtml";
}

<link href="~/Content/bootstrap-datetimepicker.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-datetimepicker.js"></script>
<script src="~/Scripts/KoCustomDateTimePicker.js"></script>
<link href="~/Content/bootstrap-multiselect.css" rel="stylesheet" />
<link href="~/Content/customassets/css/Cart.css" rel="stylesheet" />
<script src="~/Scripts/knockout-jqAutocomplete.min.js"></script>
<script src="~/Areas/Membership/Scripts/Students/Trainee.js"></script>
<style>
    .form-control {
        width: 100% !important;
    }

    .btnLarge {
        width: 140px !important;
    }

    .input-group-addon {
        padding: 0 5px;
    }

    .rm {
        background-color: #F8F8F8;
        border-radius: 0px 0px 0px 0px !important;
    }
</style>
<div class="container" id="TraineeDiv">

    <ul class="nav nav-tabs nav-justified" role="tablist" style="background-color:#F8F8F8;">

        <li class="active"><a href="#Basic" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-user"></span> Basic <br />Information</a></li>
        <li><a href="#Contact" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-phone-alt"></span> Contact <br />Information</a></li>
        <li><a href="#CourseSelection" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-book"></span> Course <br />Selection</a></li>
        <li><a href="#Admission" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-check"></span> Admission <br /> Info</a></li>

    </ul>


    <div class="tab-content rm">
        <div class="tab-pane fade active in" id="Basic">
            <div class="form-group row row_design">
                <label class="control-label col-sm-2 col-sm-offset-1">Trainee Name :</label>
                <div class="col-sm-3">
                    <input type="text" data-bind="jqAuto: { value: Name, source:GetStudentList, inputProp: 'value', labelProp: 'value' }" @*data-bind="value:Name"*@ class="form-control" id="Name" placeholder="Name">
                </div>
                <label class="control-label col-sm-2" for="MemberNo">Trainee No :</label>
                <div class="col-sm-3">
                    <input type="text" data-bind="value:TraineeNo" class="form-control" readonly="readonly" id="TraineeNo" placeholder="Trainee No">
                </div>
            </div>
            <div class="form-group row row_design">
                <label class="control-label col-sm-2 col-sm-offset-1">Father :</label>
                <div class="col-sm-3">
                    <input type="text" data-bind="value:FathersName" class="form-control" id="FathersName" placeholder="Father Name">
                </div>
                <label class="control-label col-sm-2 ">Mother :</label>
                <div class="col-sm-3">
                    <input type="text" data-bind="value:MothersName" class="form-control" id="MothersName" placeholder="Mother Name">
                </div>
            </div>
            <div class="form-group row row_design">
                <label class="control-label col-sm-2 col-sm-offset-1">Gender :</label>
                <div class="col-sm-3">
                    <select data-bind="options: Genders, value: Gender, optionsCaption:'<--Select Gender-->', optionsValue:'Id',optionsText: 'Name',  valueUpdate: 'keyup'"
                            class="form-control"></select>
                </div>

                <label class="control-label col-sm-2 ">Religion :</label>
                <div class="col-sm-3">
                    <select data-bind="options: Religions, value: Religion, optionsCaption:'<--Select Religion-->', optionsValue:'Id',optionsText: 'Name',  valueUpdate: 'keyup'"
                            class="form-control"></select>
                </div>
            </div>
            <div class="form-group row row_design">
                <label class="control-label col-sm-2 col-sm-offset-1">Date of Birth :</label>
                <div class="col-sm-3">
                    <div class="input-group">
                        <input type="text" data-bind="datepicker:DateOfBirth, datepickerOptions: {format: 'DD/MM/YYYY'} ,valueUpdate: 'keyup'" class="form-control">
                        <span class="help-block" style="display: none;"></span>
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </div>
                    </div>
                </div>
                <label class="control-label col-sm-2">Last Academic Qualification :</label>
                <div class="col-sm-3">
                    <input type="text" data-bind="value:LastAcademicQualification" class="form-control" placeholder="Last Academic Qualification">
                </div>
            </div>
            <div class="form-group row row_design">

                <label class="control-label col-sm-2  col-sm-offset-1">Source of Information :</label>
                <div class="col-sm-3">
                    <select data-bind="options: SOI, value: SourceOfInformation, optionsCaption:'<--Select Source-->', optionsValue:'Id',optionsText: 'Name',  valueUpdate: 'keyup'"
                            class="form-control"></select>
                </div>

                <label class="control-label col-sm-2">Other Source :</label>
                <div class="col-sm-3">
                    <input type="text" data-bind="value:OtherSourceOfInformation" class="form-control" placeholder="Other">
                </div>
            </div>
            <div class="form-group row row_design">
                <label class="control-label col-sm-2  col-sm-offset-1">Occupation :</label>
                <div class="col-sm-3">
                    <input type="text" data-bind="value:Occupation" class="form-control" placeholder="Occupation">
                </div>
                <label class="control-label col-sm-2">Admission Year :</label>
                <div class="col-sm-3" data-bind="validationElement: FromYear">
                    <select data-bind="options:Years,optionsValue: 'Year',optionsText:'Year',optionsCaption:'-Student Since-', value:FromYear" class="form-control"></select>
                </div>
                </div>
            
                <br />
                <div class="button col-sm-offset-9">
                    <button type="submit" data-bind="click:saveTrainee" class="btn btn-success">Submit</button>
                    @*<button type="reset" data-bind="click: editTrainee" class="btn btn-danger" >Clean</button>*@


                </div>
                <br />
            </div>


        <div class="tab-pane fade" id="Contact">

            <div class="form-group row row_design">
                <label class="control-label col-sm-2 col-sm-offset-1">Address Line1 :</label>
                <div class="col-sm-3">
                    <input class="form-control" type="text" data-bind="value:Address.AddressLine1" />
                </div>
                <label class="control-label col-sm-2 ">Address Line 2 :</label>
                <div class="col-sm-3" @*data-bind="validationElement:PresentAddress.AddressLine2"*@>
                    <input data-bind="value:Address.AddressLine2" class="form-control" type="text" id="Address2" name="Address" placeholder="Address">
                </div>
            </div>

            <div class="form-group row row_design">
                <label class="control-label col-sm-2 col-sm-offset-1">Division :</label>
                <div class="col-sm-3" data-bind="validationElement:Address.DivisionId">
                    <select data-bind="options: Address.DivisionList, value: Address.DivisionId, optionsCaption:'Choose One..', optionsValue:'Id', optionsText: 'DivisionNameEng'" class="form-control"></select>
                </div>
                <label class="control-label col-sm-2">District :</label>
                <div class="col-sm-3" @*data-bind="validationElement:PresentAddress.DistrictId"*@>
                    <select data-bind="options: Address.DistrictList, value: Address.DistrictId, optionsCaption:'Choose One..', optionsValue:'Id', optionsText: 'DistrictNameEng'" class="form-control"></select>
                </div>

            </div>
            <div class="form-group row row_design">
                <label class="control-label col-sm-2 col-sm-offset-1">Thana :</label>
                <div class="col-sm-3" @*data-bind="validationElement:PresentAddress.ThanaId"*@>
                    <select data-bind="options: Address.ThanaList, value: Address.ThanaId, optionsCaption:'Choose One..', optionsValue:'Id', optionsText: 'ThanaNameEng'" class="form-control"></select>
                </div>

                <label class="control-label col-sm-2">Postal Code :</label>
                <div class="col-sm-3" data-bind="validationElement: Address.PostalCode">
                    <input data-bind="value:Address.PostalCode,valueUpdate: 'keyup'" class="form-control" type="text"  placeholder="PostalCode" />
                </div>

            </div>
            <div class="form-group row row_design">
                <label class="control-label col-sm-2 col-sm-offset-1">Mobile :</label>
                <div class="col-sm-3" data-bind="validationElement: Address.CellPhoneNo">
                    <input type="tel" data-bind="value:Address.CellPhoneNo" class="form-control" id="MobileNo" placeholder="Mobile No">
                </div>
                <label class="control-label col-sm-2">Phone :</label>
                <div class="col-sm-3" data-bind="validationElement: Address.PhoneNo">
                    <input type="tel" data-bind="value:Address.PhoneNo" class="form-control" id="Phone" placeholder="Phone">
                </div>
            </div>
            <div class="form-group row row_design">
                <label class="control-label col-sm-2 col-sm-offset-1">Email :</label>
                <div class="col-sm-3" data-bind="validationElement:Address.Email">
                    <input type="email" data-bind="value: Address.Email" class="form-control" id="Email" placeholder="Enter Email">
                    <div class="help-block with-errors"></div>
                </div>

            </div>
            <div class="form-group row row_design">
                <label class="control-label col-sm-2 col-sm-offset-1">Upload Photo :</label>
                <div class="col-sm-3">
                    <input type="file" name="filePhoto" id="PhotoFile" data-bind="value:UrlOfPhoto" class="makethispretty" />
                    <img id="Photo" data-bind="attr: {src: VirtualUrlOfPhoto}" alt="photo" />
                </div>
                <label class="control-label col-sm-2">Upload Signature :</label>
                <div class="col-sm-3">
                    <input type="file" name="fileSignature" id="SignatureFile" data-bind="value:UrlOfSignature" class="makethispretty" />
                    <img id="Signature" data-bind="attr: {src: VirtualUrlOfSignature}" width="100%" alt="signature" />
                    @*<a target="_blank" data-bind="attr: { href: VirtualUrlOfSignature,click: function() { return true;}, clickBubble: false }">File</a>*@
                </div>
            </div>


            <br />
            <div class="button col-sm-offset-9">
                <button type="submit" class="btn btn-success" data-bind="click: saveAddress">Submit</button>
                
            </div>
            <br />
        </div>


        <div class="tab-pane fade" id="CourseSelection">
            <br />

            <hr class="horizontal">


            <div class="col-sm-12">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered">
                        <thead class="headcolor">
                            <tr>
                                <th class="center">Course Name</th>
                                <th class="center">Course Fee</th>
                                <th class="center"><a class="plus" href='#' data-bind='click: addCourse'><span class="glyphicon glyphicon-plus"></span></a></th>

                            </tr>
                        </thead>
                        <tbody data-bind="foreach:Courses">
                            <tr>
                                <td class="center" data-bind="validationElement: Course"><select data-bind="options: $parent.CourseList, value: Course, optionsCaption:'Choose One..', optionsValue:'Id', optionsText: 'Name'" class="form-control"></select></td>
                                <td class="center"><input type="number" class="form-control" autofocus type="number" data-bind="value: CourseFee"></td>
                                <td class="center">
                                    <a class="plus" href='#' data-bind='click: $parent.addCourse'><span class="glyphicon glyphicon-plus"></span></a>
                                    <a class="minus" href='#' data-bind='click: $parent.removeCourse'><span class="glyphicon glyphicon-minus"></span></a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>

            </div>
            <br />
            <div class="button col-sm-offset-9">
                <button type="submit" data-bind="enable:IsActive,click:saveCourses" class="btn btn-success">Save</button>



            </div>
            <br />
        </div>


        <div class="tab-pane fade" id="Admission">
            <br />

            <div class="form-group row row_design">
                <label class="control-label col-sm-2 col-sm-offset-1">Date of Admission :</label>
                <div class="col-sm-3">
                    <div class="input-group">
                        <input type="text" data-bind="datepicker:DateOfAdmission, datepickerOptions: {format: 'DD/MM/YYYY'}, valueUpdate: 'keyup'" class="form-control">
                        <span class="help-block" style="display: none;"></span>
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </div>
                    </div>
                </div>

                <label class="control-label col-sm-2">Batch :</label>
                <div class="col-sm-3">
                    <input type="text" data-bind="value:Batch" class="form-control" placeholder="Batch">
                </div>
            </div>

            <div class="form-group row row_design">

                <label class="control-label col-sm-2 col-sm-offset-1">MR No :</label>
                <div class="col-sm-3">
                    <input type="text" data-bind="value:MRNo" class="form-control" placeholder="MR No">
                </div>
                
                
            </div>

            <br />
            <div class="button col-sm-offset-9">
                <button type="submit" data-bind="enable:IsActive, click:TraineeAdmission" class="btn btn-success">Save</button>



            </div>
            <br />
        </div>

    </div>
    <div class="form-group">

        <div id="successModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-sm">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Response</h4>
                    </div>
                    <div class="modal-body" align="center">
                        <p id="successModalText"></p>

                        <button type="button" class="btn btn-success" data-dismiss="modal">Ok</button>

                    </div>
                    <div class="modal-footer">
                    </div>
                </div>

            </div>
        </div>
        <!-- loading Modal -->
        <div id="loadingModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="loading-modal-content">

                    <div class="loading" align="center">
                        <img src="~/Images/loadingTwo.gif" style="max-width:100%;" />
                    </div>

                </div>

            </div>
        </div>
        <!-- loading modal ends-->
    </div>
</div>


