﻿@{
    Layout = "~/Views/Shared/_LayoutjqGrid.cshtml";
    ViewBag.Title = "Voucher Entry";
    var CompanyId = ViewBag.CompanyId;
    var jss = new System.Web.Script.Serialization.JavaScriptSerializer();
    var Companies = jss.Serialize(ViewBag.Companies);
    var count = ViewBag.CompanyCount;
}
@*<link href="~/Content/customStyle.css" rel="stylesheet" />*@
<script src="~/Scripts/moment.js"></script>
<script src="~/Scripts/knockout-date-bindings.js"></script>
<script>
    var userCompanyId = parseInt(@CompanyId);
    var Companies = JSON.parse('@Html.Raw(Companies)');
</script>
<script src="~/Areas/Accounts/Scripts/Accounts/gen-accounts.js"></script>
<link href="~/Content/customassets/css/Cart.css" rel="stylesheet" />
<link href="~/Content/bootstrap-datetimepicker.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-datetimepicker.js"></script>
<script src="~/Scripts/KoCustomDateTimePicker.js"></script>

@*<link href="~/Content/bootstrap-datetimepicker.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-datetimepicker.js"></script>
<script src="~/Scripts/KoCustomDateTimePicker.js"></script>*@

<style>
    .form-control {
        width: 100% !important;
    }

    .btnLarge {
        width: 140px !important;
    }

    .input-group-addon {
        padding: 0 5px;
    }

    .rm {
        background-color: #F8F8F8;
        border-radius: 0px 0px 0px 0px !important;
    }
</style>


<div class="container">
    <div class="row">
        <!---vvvvvvv----Body Main Starts here---vvvvvv----->
        <section class="rm">
            <div class="panel-body">

                <div class="container-fluid ">
                    <fieldset>
                        <div id="VoucherEntry" class="purchase1">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">

                                        <div style="padding: 5px;">
                                            @if (count > 1)
                                            {
                                                <div class="row">
                                                    <div class="form-group row row_design">
                                                        <label class="control-label col-sm-2 col-sm-offset-1">Company</label>
                                                        <div class="col-sm-3">
                                                            <select data-bind="enable:EnableHeader, options: CompanyList, value: CompanyProfileId, optionsValue:'Id', optionsText: 'Name', optionsCaption: 'Choose one...', event:{ change: function() {getAccHeads(); getToData();}}, valueUpdate: 'keyup'" class="form-control"></select>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                            <br />
                                            <div class="row">

                                                <div class="form-group row row_design">
                                                    <label class="control-label col-sm-2 col-sm-offset-1">Voucher Type</label>
                                                    <div class="col-sm-2">
                                                        <label class="radio-inline"><input type="radio" data-bind="enable:EnableHeader, checked:selectedVouchertype, event: { change: setFilteredAccHeads}" value="pmnt" name="vType" />Payment</label> 
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <label class="radio-inline"><input type="radio" data-bind="enable:EnableHeader, checked:selectedVouchertype, event: { change: setFilteredAccHeads}" value="rcv" name="vType" />Receive</label>
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <label class="radio-inline"><input type="radio" data-bind="enable:EnableHeader, checked:selectedVouchertype, event: { change: setFilteredAccHeads} " value="jrnl" name="vType" />Journal</label>
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <label class="radio-inline"><input type="radio" data-bind="enable:EnableHeader, checked:selectedVouchertype, event: { change: setFilteredAccHeads}" value="cont" name="vType" />Contra</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row" data-bind="visible: IsNotJournal">

                                                <div class="form-group row row_design">
                                                    <label class="control-label col-sm-2 col-sm-offset-1">Pay Type</label>
                                                    <div class="col-sm-2">
                                                        <label class="radio-inline"><input type="radio" data-bind="enable:EnableHeader, checked:selectedPaytype" value="cash" name="pType" />Cash</label>
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <label class="radio-inline"><input type="radio" data-bind="enable:EnableHeader, checked:selectedPaytype, event:{change: getBanks}" value="bank" name="pType" />Bank</label>
                                                    </div>
                                                    @*<div class="col-sm-3" data-bind="visible:IsBank">
                                                            <select data-bind="options: Banks, value: selectedBank, optionsText: 'Name', optionsCaption: 'Choose one...', valueUpdate:'keyup', event:{ change: GetBankAccCode }" class="form-control"></select>
                                                        </div>*@
                                                </div>

                                            </div>

                                            <br />
                                            <div class="row">

                                                <div class="form-group row row_design">
                                                    <label class="control-label col-sm-2 col-sm-offset-1">Voucher No</label>
                                                    <div class="col-sm-3">
                                                        <input type="text" data-bind="enable:EnableHeader, value:VoucherNo" class="form-control" readonly="readonly" />
                                                    </div>
                                                    <label class="control-label col-sm-2">Voucher Date</label>
                                                    <div class="col-sm-3">
                                                        @*<input type="date" data-bind="enable:EnableHeader, date:VoucherDate" class="form-control" readonly />*@
                                                        <div class="input-group">
                                                            <input type="text" class="form-control" id="VoucherDate" data-bind="datepicker:VoucherDate, datepickerOptions: {format: 'DD/MM/YYYY'}, valueUpdate:'keyup'" readonly />
                                                            <span class="help-block" style="display: none;"></span>
                                                            <div class="input-group-addon">
                                                                <span class="glyphicon glyphicon-calendar"></span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    @*<div class="col-sm-3" style="padding-left: 15px; padding-right: 15px;" data-bind="enable:EnableHeader, date:VoucherDate">
                                                            <div class="input-group">
                                                                <input type="text" class="form-control" id="VoucherDate" data-bind="datepicker:NextResetDate, datepickerOptions: {format: 'DD/MM/YYYY'}, valueUpdate:'keyup'" readonly/>
                                                                <span class="help-block" style="display: none;"></span>
                                                                <div class="input-group-addon">
                                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                                </div>
                                                            </div>
                                                        </div>*@
                                                </div>

                                            </div>
                                        </div>
                                        <div class="row">
                                            <div style="padding: 5px;" class="form-group row row_design" data-bind="visible:IsJournal">
                                                <label class="control-label col-sm-2 col-sm-offset-1">Transaction Type</label>
                                                <div class="col-sm-2">
                                                    <label class="radio-inline"><input id="dr" type="radio" data-bind="checked:selectedTrantype" value="dr" name="tType" />Debit</label>
                                                </div>
                                                <div class="col-sm-2">
                                                    <label class="radio-inline"><input id="cr" type="radio" data-bind="checked:selectedTrantype" value="cr" name="tType" />Credit</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div style="padding: 5px;" id="paytypeacchead" class="form-group row row_design">
                                                <label class="control-label col-sm-2 col-sm-offset-1">Account Head</label>
                                                <div class="col-sm-3">
                                                    <select data-bind="options: filteredAccHeads, value: selectedAccountHeadCode, optionsValue:'AccountHeadCode',  optionsText: 'name', optionsCaption: 'Choose one...'"
                                                            class="form-control"></select>
                                                </div>
                                                <label class="control-label col-sm-2">Amount</label>
                                                <div class="col-sm-3">
                                                    <input type="number" data-bind="value:Amount, valueUpdate: 'keyup'" min="1" class="form-control"   />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" data-bind="visible:IsBank">
                                            <div style="padding: 5px;">
                                                <div id="payTypeBank" data-bind="visible: selectedPaytype">
                                                    <div class="form-group row row_design">
                                                        @*<br />*@
                                                        <label class="control-label col-sm-2 col-sm-offset-1">Bank Name</label>
                                                        <div class="col-sm-3">
                                                            <input type="text" data-bind="value:BankName" class="form-control" />
                                                            @*<select data-bind="options: Banks, value: BankId, optionsValue:'Id', optionsText: 'Name', optionsCaption: 'Choose one...', valueUpdate:'keyup', event:{ change: getBranchName}"
                                                                class="form-control"></select>*@
                                                        </div>
                                                        <label class="control-label col-sm-2 ">Bank Head</label>
                                                        <div class="col-sm-3">
                                                            <select data-bind="options: Banks, value: selectedBank, optionsText: 'Name', optionsCaption: 'Choose one...', valueUpdate:'keyup', event:{ change: GetBankAccCode }" class="form-control"></select>
                                                        </div>

                                                    </div>

                                                    <div class="form-group row row_design">
                                                        <label class="control-label col-sm-2 col-sm-offset-1">Cheque Date</label>
                                                        @*<div class="col-sm-3">
                                                                <input type="date" data-bind="value:ChequeDate" class="form-control" />
                                                            </div>*@
                                                        <div class="col-sm-3">
                                                            <div class="input-group">
                                                                <input type="text" class="form-control" id="ChequeDate" data-bind="datepicker:ChequeDate, datepickerOptions: {format: 'DD/MM/YYYY'}, valueUpdate:'keyup'" >
                                                                <span class="help-block" style="display: none;"></span>
                                                                <div class="input-group-addon">
                                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <label class="control-label col-sm-2">Cheque No</label>
                                                        <div class="col-sm-3">
                                                            <input type="text" class="form-control" placeholder="Search By Cheque No" required id="auto" data-bind="value:prefix, valueUpdate:'keyup', jqAuto: { autoFocus: true }, jqAutoSource: ChequeNoList, jqAutoValue: ChequeNo, jqAutoSourceLabel: 'key', jqAutoSourceInputValue: 'key', jqAutoSourceValue: 'key'" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group row row_design">
                                                        <label class="control-label col-sm-2 col-sm-offset-1">Branch</label>
                                                        <div class="col-sm-3">
                                                            <input type="text" data-bind="value:BranchName" class="form-control" />
                                                        </div>
                                                        <label class="control-label col-sm-2">Pay To</label>
                                                        <div class="col-sm-3">
                                                            <input type="text" class="form-control" placeholder="Pay To" data-bind="value:ChequePayTo, valueUpdate:'keyup'" />
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        @*<div class="row" data-bind="visible:IsBank">

                                                <div class="form-group row row_design">
                                                    <label class="control-label col-sm-2 col-sm-offset-1">Cheque No</label>
                                                    <div class="col-sm-3">

                                                        <input type="text" class="form-control" placeholder="Search By Cheque No" required id="auto" data-bind="value:prefix, valueUpdate:'keyup', jqAuto: { autoFocus: true }, jqAutoSource: ChequeNoList, jqAutoValue: ChequeNo, jqAutoSourceLabel: 'key', jqAutoSourceInputValue: 'key', jqAutoSourceValue: 'key'" />


                                                    </div>

                                                </div>
                                                <div class="form-group row row_design">
                                                    <label class="control-label col-sm-2 col-sm-offset-1">Bank</label>
                                                    <div class="col-sm-3">
                                                        <select data-bind="options: Banks, value: selectedBank, optionsText: 'Name', optionsCaption: 'Choose one...', valueUpdate:'keyup', event:{ change: GetBankAccCode }" class="form-control"></select>
                                                    </div>
                                                </div>

                                            </div>*@
                                            <div  class="form-group row row_design">
                                                <label class="control-label col-sm-2 col-sm-offset-1">Description</label>
                                                <div class="col-sm-7">
                                                    <textarea class="form-control" placeholder="Description" data-bind="value:Description"></textarea>
                                                    @*<textarea data-bind="value:Description" class="form-control"></textarea>*@
                                                </div>

                                                <div class="col-sm-1">
                                                    <button class="btn btn-primary" data-bind="click: addVaoucher.bind($data), enable: IsAmount">Add</button>@*data-bind="enable: Amount, click: addReceiveVaoucsers.bind($data)*@
                                                </div>
                                            </div>
                                      
                                    </div>
                                    <br />

                                    @*<div class="col-sm-2"></div>*@

                                </div>
                            </div>
                            <br />
                            <div class="panel-body">
                                <div class="form-group table-responsive">
                                    <table class="table table-striped table-bordered">
                                        <thead class="headcolor">
                                            <tr>
                                                <th>Sl. No.</th>
                                                <th>Account Head</th>
                                                <th>Description</th>
                                                <th class="right">Dr. Amount</th>
                                                <th>Cr. Amount</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody data-bind="visible:VoucherDetails().length==0">
                                            <tr>
                                                <td colspan="6" align="center">
                                                    <span>No Data Available</span>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tbody class="row" data-bind="foreach: VoucherDetails.slice(0), visible:VoucherDetails().length>0">
                                            @*.reverse()*@
                                            <tr>
                                                <td data-bind="text: $index() + 1"></td>
                                                <td data-bind="text:accountHeadName"></td>
                                                <td data-bind="text:Description"></td>
                                                <td class="right">
                                                    <div data-bind='if: isEntryTypeDr'>
                                                        <span data-bind="text:Amount"></span>
                                                    </div>
                                                </td>
                                                <td class="right">
                                                    <div data-bind='if: isEntryTypeCr'>
                                                        <span data-bind="text:Amount"></span>
                                                    </div>
                                                </td>
                                                <td><a href="#" data-bind="click: $root.removeVaoucser">Remove</a></td>
                                            </tr>
                                        </tbody>
                                        <tr data-bind="visible: VoucherDetails().length!=0">
                                            <td colspan="3" align="right"><b>Total: </b></td>
                                            <td class="right" data-bind="text:TotalDr"></td>
                                            <td class="right" data-bind="text:TotalCr"></td>
                                            <td></td>
                                        </tr>
                                    </table>


                                </div>
                                <div class="form-group" align="center" data-bind="visible: IsSaved">
                                    @*data-bind="visible: IsSaved"*@
                                    <div class="form-group row row_design">

                                        <a data-bind="attr: { href: Link1, title1: 'PDF' }">PDF</a>
                                        <a data-bind="attr: { href: Link2, title2: 'Excel' }">Excel</a>
                                        <a data-bind="attr: { href: Link3, title3: 'Word' }">Word</a>

                                    </div>
                                </div>

                                <div class="form-group row row_design">
                                    <div class="col-sm-10"></div>
                                    <div class="col-sm-2" align="right">
                                        <button data-bind="click: reset" class="btn btn-info">Reset</button>
                                        <button type="button" class="btn btn-success" data-bind="enable:IsSave" data-toggle="modal" data-target="#myModal">Save</button>
                                    </div>

                                    <!-- Modal -->
                                    <div id="myModal" class="modal fade" role="dialog">
                                        <div class="modal-dialog modal-sm">

                                            <!-- Modal content-->
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    <h4 class="modal-title">Confirmation</h4>
                                                </div>
                                                <div class="modal-body" align="center">
                                                    <p>Do you want to add this item?</p>
                                                    <button data-bind="click: saveVoucher" class=" btn btn-success" data-dismiss="modal">Yes</button>
                                                    <button type="button" class="btn btn-success" data-dismiss="modal">No</button>

                                                </div>
                                                <div class="modal-footer">
                                                    @*<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>*@
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <!-- loading Modal -->
                                    <div id="loadingModal" class="modal fade" role="dialog">
                                        <div class="modal-dialog">

                                            <!-- Modal content-->
                                            <div class="loading-modal-content">

                                                <div class="loading" align="center">
                                                    <img src="~/Images/loadingTwo.gif" style="max-width:100%;" />
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                    <!-- loading modal ends-->

                                    <div id="SuccessModal" class="modal fade" role="dialog">
                                        <div class="modal-dialog modal-sm">
                                            <!-- Modal content-->
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    <h4 class="modal-title">Response</h4>
                                                </div>
                                                <div class="modal-body" align="center">
                                                    <p id="SuccessModalText"></p>
                                                    <p id="successModalLinks"></p>
                                                    <button type="button" class="btn btn-success" data-dismiss="modal">Ok</button>
                                                </div>
                                                <div class="modal-footer">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- loading modal ends-->
                                </div>
                            </div>
                        </div>
                    </fieldset>

                </div>
            </div>

        </section>
        <br />
    </div>
    <!---^^^^^^^----Body Main Ends here----^^^^^^^---->
</div>
