﻿@{
    Layout = "~/Views/Shared/_LayoutjqGrid.cshtml";
    ViewBag.Title = "Voucher Search";
    var CompanyId = ViewBag.CompanyId;
    var jss = new System.Web.Script.Serialization.JavaScriptSerializer();
    var Companies = jss.Serialize(ViewBag.Companies);
    var count = ViewBag.CompanyCount;
}
@*<link href="~/Content/customStyle.css" rel="stylesheet" />*@
<script src="~/Scripts/knockout-date-bindings.js"></script>
<script>
    var userCompanyId = parseInt(@CompanyId);
    var Companies = JSON.parse('@Html.Raw(Companies)');
</script>
<script src="~/Areas/Accounts/Scripts/Accounts/voucher-search.js"></script>
<link href="~/Content/customassets/css/Cart.css" rel="stylesheet"/>


<link href="~/Content/bootstrap-datetimepicker.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-datetimepicker.js"></script>
<script src="~/Scripts/KoCustomDateTimePicker.js"></script>

<style>
    .form-control {
        width: 100% !important;
    }

    .btnLarge {
        width: 140px !important;
    }

    .input-group-addon {
        padding: 0 5px;
    }

    .rm {
        background-color: #F8F8F8;
        border-radius: 0px 0px 0px 0px !important;
    }
</style>

<div class="container">
    <div class="row">
        <section class="rm">
            <div class="panel-body">
                <div class="container-fluid">
                    <fieldset>
                        <div id="voucherSearch" class="purchase1">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">

                                        <div style="padding: 5px; margin-bottom: 10px;">
                                            @if (count > 1)
                                                                {
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="form-group row row_design">
                                                            <label class="control-label col-sm-2 col-sm-offset-1">Company</label>
                                                            <div class="col-sm-3">
                                                                <select data-bind="options: CompanyList, value: CompanyProfileId, optionsValue:'Id', optionsText: 'Name', optionsCaption: 'Choose one...', event:{change: getBanks}, valueUpdate: 'keyup'" class="form-control"></select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                                }
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="form-group row row_design">
                                                        <label class="control-label col-sm-2 col-sm-offset-1">Voucher Type</label>
                                                        <div class="col-sm-3">
                                                            <select class="form-control" data-bind="value:selectedVouchertype">
                                                                <option value="">---Choose One---</option>
                                                                <option value="pmnt">Payment</option>
                                                                <option value="rcv">Receive</option>
                                                                <option value="jrnl">Journal</option>
                                                                <option value="contr">Contra</option>
                                                            </select>
                                                            @*<label><input type="radio" data-bind="enable:EnableHeader, checked:selectedVouchertype, event: { change: setFilteredAccHeads}" value="pmnt" name="vType" />Payment</label>*@
                                                        </div>
                                                        @*<div class="col-sm-1">
                                                        <label><input type="radio" data-bind="enable:EnableHeader, checked:selectedVouchertype, event: { change: setFilteredAccHeads}" value="rcv" name="vType" />Receive</label>
                                                    </div>*@
                                                        @*<div class="col-sm-1">
                                                        <label><input type="radio" data-bind="enable:EnableHeader, checked:selectedVouchertype, event: { change: setFilteredAccHeads}" value="jrnl" name="vType" />Journal</label>
                                                    </div>*@
                                                        <label class="control-label col-sm-2">Pay Type</label>
                                                        <div class="col-sm-3">
                                                            <select class="form-control" data-bind="value:selectedPaytype">
                                                                <option value="">---Choose One---</option>
                                                                <option value="cash">Cash</option>
                                                                <option value="bank">Bank</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row row_design">
                                                        <label class="control-label col-sm-2 col-sm-offset-1">Transaction Type</label>
                                                        <div class="col-sm-3">
                                                            <select class="form-control" data-bind="value:selectedTrantype">
                                                                <option value="">---Choose One---</option>
                                                                <option value="dr">Debit</option>
                                                                <option value="cr">Credit</option>
                                                            </select>
                                                        </div>
                                                        @*<div class="col-sm-1">
                                                        <label><input type="radio" data-bind="enable:EnableHeader, checked:selectedPaytype" value="cash" name="pType" />Cash</label>
                                                    </div>
                                                    <div class="col-sm-1">
                                                        <label><input type="radio" data-bind="enable:EnableHeader, checked:selectedPaytype" value="bank" name="pType" />Bank</label>
                                                    </div>*@
                                                        <label class="control-label col-sm-2" data-bind="visible:IsBank">Bank Name</label>
                                                        <div class="col-sm-3" data-bind="visible:IsBank">
                                                            <select data-bind="options: Banks, value: selectedBankAccountHeadCode, optionsValue:'AccountHeadCode', optionsText: 'BankName', optionsCaption: 'Choose one...', valueUpdate:'keyup'"
                                                                    class="form-control"></select>
                                                        </div>

                                                    </div>




                                                    <div class="form-group row row_design">

                                                        <label class="control-label col-sm-2 col-sm-offset-1">Voucher From</label>
                                                        <div class="col-sm-3">
                                                            <input type="date" data-bind="value:VoucherDateFrom, valueUpdate: 'keyup'" class="form-control" />
                                                        </div>
                                                        <label class="control-label col-sm-2">To </label>
                                                        <div class="col-sm-3">
                                                            <input type="date" data-bind="value:VoucherDateTo, valueUpdate: 'keyup'" class="form-control" />
                                                        </div>
                                                        @*<div class="col-sm-1">
                                                        <label><input id="dr" type="radio" data-bind="checked:selectedTrantype" value="dr" name="tType" />Debit</label>
                                                    </div>
                                                    <div class="col-sm-1">
                                                        <label><input id="cr" type="radio" data-bind="checked:selectedTrantype" value="cr" name="tType" />Credit</label>
                                                    </div>*@
                                                    </div>




                                                    <div class="form-group row row_design">
                                                        <label class="control-label col-sm-2 col-sm-offset-1">Voucher No</label>
                                                        <div class="col-sm-3">
                                                            <input type="text" data-bind="value:VoucherNo" class="form-control" />
                                                        </div>

                                                    </div>

                                                </div>
                                            </div>
                                            <br />
                                            <div class="form-group row row_design">
                                                <div class="col-sm-offset-9">
                                                    <button data-bind="click: searchVoucher" class="btn btn-deepgreen">Search</button>
                                                </div>
                                                <div class="col-sm-offset-11">
                                                    <button data-bind="click: PrintResult" class="btn btn-deepgreen">Print</button>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                
                                <div class="panel-body">
                                    <div class="form-group table-responsive">
                                        <table class="table table-striped table-bordered">
                                            <thead class="headcolor">
                                                <tr>
                                                    <th>Voucher No</th>
                                                    <th>Account Head</th>
                                                    <th>Description</th>
                                                    <th>Date</th>
                                                    <th>Debit</th>
                                                    <th>Credit</th>
                                                    @*<th>Edit</th>*@
                                                    <th>View</th>
                                                </tr>
                                            </thead>
                                            <tbody data-bind="visible:Vouchers().length==0">
                                                <tr>
                                                    <td colspan="7" align="center">
                                                        <span>No Data Available</span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                            <tbody class="row" data-bind="foreach: Vouchers, visible:Vouchers().length>0">
                                                <tr>
                                                    <td data-bind="text: VoucherNo"></td>
                                                    <td data-bind="text: AccountHeadCodeName"></td>
                                                    <td data-bind="text: Description"></td>
                                                    <td data-bind="text: VoucherDate"></td>
                                                    <td data-bind="text: Debit"></td>
                                                    <td data-bind="text: Credit"></td>
                                                    <td><input data-bind="value:VoucherNo" readonly style="border:none; max-height:20px; max-width:50px; display:none" /><a href='#' data-bind="click: $parent.getDetails">View</a></td>
                                                    @*<td><input data-bind="value:Id" readonly style="border:none; max-height:20px; max-width:50px; display:none" /><a data-bind="click: $parent.getVoucherDetails">Edit</a></td>*@ @*data-toggle="modal" data-target="#myModal"*@
                                                    @*<td><a data-bind="click: $parent.getVoucherDetails">remove</a></td>*@
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>


                                    @*<div class="form-group" align="center" data-bind="visible: IsSaved">
                                    <div class="form-group">
                                        <a data-bind="attr: { href: Link1, title1: 'PDF' }">PDF</a>
                                        <a data-bind="attr: { href: Link2, title2: 'Excel' }">Excel</a>
                                        <a data-bind="attr: { href: Link3, title3: 'Word' }">Word</a>
                                    </div>
                                </div>*@
                                    <!-- Modal -->
                                    <div id="myModal" class="modal fade" role="dialog">
                                        <div class="modal-dialog modal-sm">

                                            <!-- Modal content-->
                                            @*<div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Voucher Edit</h4>
                                        </div>
                                        <div class="modal-body" align="center">
                                            <table>
                                                <tbody data-bind="for:EditableVoucher">
                                                    <tr>
                                                        <td data-bind="text:EditableVoucher().Id"></td>
                                                        <td data-bind="text:EditableVoucher().VoucherNo"></td>
                                                        <td data-bind="text:EditableVoucher().VoucherDate()"></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            @*<div class="form-control">
                                                <label class="col-sm-10" >Voucher Id</label>
                                                <div class="col-sm-10">
                                                    <input type="text" data-bind="value:EditableVoucher.Id, valueUpdate: 'keyup'" class="form-control" />
                                                </div>
                                                <label class="col-sm-10" >Voucher No.</label>
                                                <div class="col-sm-10">
                                                    <input type="text" data-bind="value:EditableVoucher.VoucherNo, valueUpdate: 'keyup'" class="form-control" />
                                                </div>
                                                <label class="col-sm-10" >Voucher Date</label>
                                                <div class="col-sm-10">
                                                    <input type="date" data-bind="value:EditableVoucher.VoucherDate, valueUpdate: 'keyup'" class="form-control" />
                                                </div>
                                            </div>*@
                                            @*<p>Do you want to add this item?</p>
                                                <button data-bind="click: saveVoucher" class=" btn btn-success" data-dismiss="modal">Yes</button>
                                                <button type="button" class="btn btn-success" data-dismiss="modal">No</button>

                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
                </fieldset>
            </div>
             </div>
        </section>
    </div>
</div>